<title>Explaain Election Map</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--link href="//explaain-app.herokuapp.com/include/css/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//explaain-app.herokuapp.com/style.css" />
<link rel="stylesheet" type="text/css" href="/css/leaflet.css" /-->
<link rel="stylesheet" type="text/css" href="/compiled.css" />

<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<script>
const conf = {
  algoliaId: "<%=conf.algoliaId%>",
  algoliaPublic: "<%=conf.algoliaPublic%>",
  startDate: "<%=conf.startDate%>",
  paFetchMode: "<%=conf.paFetchMode%>"
}
</script>
