body {
  overflow-x: hidden;
}

span.algolia-autocomplete {
  display: block;
  width: 100%;
}

input#search-input {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
  width: calc(100% - 40px);
  background-image: url('/img/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  font-family: 'Lato';
}

.aa-dropdown-menu {
  margin-left: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ddd;
  min-width: 300px;
}

.aa-dropdown-menu > div > span > div {
  padding: 7px 40px;
  cursor: pointer;
}
.aa-dropdown-menu > div > span > div:hover, .aa-dropdown-menu > div > span > div:focus, .aa-dropdown-menu > div > span > div:active {
  background: #eee;
}

.map {
  margin: 20px 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-image: url(/img/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:80px;
  position: relative;
}

.map-overlay {
  z-index:2;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.1);
}

#ukMap {
  height: calc(100vh - 240px);
  width: 100%;
  z-index: 0;
  background: white;
  opacity:0;
  -webkit-transition: opacity 1s;
  position: relative;
  z-index:1;
  /* min-width: 600px; */
}

#ukMap.initialized {
  opacity:1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px "Lato", Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 180px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

@media (min-width: 600px) {
  div.map {
    margin:20px;
    margin-top: 0;
    float: left;
    width: calc(100% - 300px);
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  #ukMap {
    height: 760px;
  }
}
@media (min-width: 900px) {
  div.map {
    width: calc(100% - 400px);
  }
}

.progress {
  height: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.progress-bar {
  background-color: lightgray;
  transition: width 0.5s, color 0.5s;
}


.card {
  margin: 20px;
  padding: 0px;
  text-align: left;
}
.card, .card-visible, .content, .body-content {
  transition: height: 0.5s;
}
.slick-container .card {
  width: 380px;
}
.card.postcode, .card.share, .card.vote-worth, .card.postcode-compare {
  text-align: center;
}

.card .card-visible {
  padding: 5px 0;
}
.card .card-visible .close {
  display: none !important; /*Temporary */
}
.card section {
  padding: 0;
  max-width: none;
}
.card section {
  padding-bottom: 1em;
}
.card section.card-media {
  background-position: center;
  background-size: cover;
}
.card section.card-media {
  min-height: 250px;
}

.card .content, .card .content > div, .card .content section, .card .content h2, .card .content .body-content  {
  overflow: hidden;
}
.card .content {
  margin: 0;
}
.card .content .body-content {
  margin-bottom: 10px;
}
.card .content h2 {
  margin: 1em 0;
  font-weight: 400;
  font-family: "Oswald";
  font-weight: 400;
  color: #58595b;
  text-transform: uppercase;
}
.card .content .card-image {
  overflow: hidden;
  margin: 0;
}
.card .content .card-image img {
  transform: inherit;
}

.card.votes .content div.seats {
  float: right;
  font-weight: bold;
}

.card table {
  width: 100%;
}
.card table tr td {
  padding: 5px 10px;
  line-height: 1.4;
}
.card.stats table {
  margin-left: -10px;
  margin-right: -10px;
}
.card.stats table tr td:nth-child(2) {
  font-weight: bold;
}

.card.list li {
  list-style: none;
  padding: 5px 0
}
.card.list li:before {
  font-family: 'FontAwesome';
  content: '\f0a1';
  margin:0 10px 0 -40px;
  color: rgba(255, 102, 120, 0.7);
}

.card.table .content .body-content {
  overflow-x: scroll;
}

.card.table {
  clear: left;
  width: calc(100% - 40px);
}

.card.table table {
  min-width: 800px;
}
.card.table table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.card.table table tr:nth-child(1) {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}


/* Map */

.leaflet-interactive.selected{
  stroke: #0044aa;
  stroke-width: 6;
  fill-opacity: 0.3;
}

.leaflet-interactive.hover {
  fill-opacity: 0.5;
}

/* Animation */

.votes .progress,.seats,.name,.card-visible {
  animation-name: piecespop;
  animation-duration: .4s;
  transform: scale(0,0) rotate(-5deg);
  animation-fill-mode: forwards;
}

@keyframes piecespop {
  0% {transform: scale(0,0);}
  80%  {transform: scale(1.1,1.1);}
  100%  {transform: scale(1,1);}
}

.votes .progress:nth-of-type(2){animation-delay: .1s}
.votes .progress:nth-of-type(4){animation-delay: .2s}
.votes .progress:nth-of-type(6){animation-delay: .3s}
.votes .progress:nth-of-type(8){animation-delay: .4s}
.votes .progress:nth-of-type(10){animation-delay: .5s}
.votes .progress:nth-of-type(12){animation-delay: .6s}
.votes .progress:nth-of-type(14){animation-delay: .7s}
.votes .progress:nth-of-type(16){animation-delay: .8s}
.votes .progress:nth-of-type(18){animation-delay: .9s}
.votes .progress:nth-of-type(20){animation-delay: 1s}
.votes .progress:nth-of-type(22){animation-delay: 1.1s}
