body {
  overflow-x: hidden;
}
body.framed {
  margin: 0 -20px;
}

span.algolia-autocomplete {
  display: block;
  width: 100%;
}

input#search-input {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
  width: calc(100% - 40px);
  background-image: url('/img/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  font-family: 'Lato';
}

.aa-dropdown-menu {
  margin-left: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ddd;
  min-width: 300px;
}

.aa-dropdown-menu > div > span > div {
  padding: 7px 40px;
  cursor: pointer;
}
.aa-dropdown-menu > div > span > div:hover, .aa-dropdown-menu > div > span > div:focus, .aa-dropdown-menu > div > span > div:active {
  background: #eee;
}

.map {
  margin: 20px 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-image: url(/img/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:80px;
  background-color: white;
  position: relative;
}
/*body.framed .map {
  margin: 0 20px 20px 20px;
}*/

.map-overlay {
  z-index:2;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.1);
}

#ukMap {
  height: 300px;
  width: 100%;
  z-index: 0;
  background: white;
  opacity:0;
  -webkit-transition: opacity 1s;
  position: relative;
  z-index:1;
  /* min-width: 600px; */
}

#ukMap.initialized {
  opacity:1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px "Lato", Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 180px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

div.map {
  margin:20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
@media (min-width: 600px) {
  div.map {
    margin-top: 0;
    float: left;
    width: calc(100% - 300px);
  }
  #ukMap {
    height: 760px;
  }
}
@media (min-width: 900px) {
  div.map {
    width: calc(100% - 400px);
  }
}

.progress {
  height: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.progress-bar {
  background-color: lightgray;
  transition: width 0.5s, color 0.5s;
}


.card {
  margin: 20px;
  padding: 0px;
  text-align: left;
}
.card, .card-visible, .content, .body-content {
  transition: height: 0.5s;
}
.slick-container .card {
  width: 380px;
}
.card.postcode, .card.share, .card.vote-worth, .card.postcode-compare {
  text-align: center;
}

.card .card-visible {
  padding: 5px 0;
}
.card .card-visible .close {
  display: none !important; /*Temporary */
}
.card section {
  padding: 0;
  max-width: none;
}
.card section {
  padding-bottom: 1em;
}
.card section.card-media {
  background-position: center;
  background-size: cover;
}
.card section.card-media {
  min-height: 250px;
}

.card .content, .card .content > div, .card .content section, .card .content h2, .card .content .body-content  {
  overflow: hidden;
}
.card .content {
  margin: 0;
}
.card .content .body-content {
  margin-bottom: 10px;
}
.card .content h2 {
  margin: 1em 0;
  font-weight: 400;
  font-family: "Oswald";
  font-weight: 400;
  color: #58595b;
  text-transform: uppercase;
}
.card .content .card-image {
  overflow: hidden;
  margin: 0;
}
.card .content .card-image img {
  transform: inherit;
}

.card.votes .content div.seats {
  float: right;
  font-weight: bold;
}

.card table {
  width: 100%;
}
.card table tr td {
  padding: 5px 10px;
  line-height: 1.4;
}
.card.stats table {
  margin-left: -10px;
  margin-right: -10px;
}
.card.stats table tr td:nth-child(2) {
  font-weight: bold;
}

.card.list li {
  list-style: none;
  padding: 5px 0
}
.card.list li:before {
  font-family: 'FontAwesome';
  content: '\f0a1';
  margin:0 10px 0 -40px;
  color: rgba(255, 102, 120, 0.7);
}

.card.table .content .body-content {
  overflow-x: scroll;
}

.card.table {
  clear: left;
  width: calc(100% - 40px);
}

.card.table table {
  min-width: 600px;
}
.card.table table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.card.table table tr:nth-child(1) {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
@media (max-width: 320px) {
  .card.table table {
    min-width: 480px;
  }
}


/* Map */

.leaflet-interactive.selected{
  stroke: #0044aa;
  stroke-width: 6;
  fill-opacity: 0.3;
}

.leaflet-interactive.hover {
  fill-opacity: 0.5;
}

/* Animation */

.votes .progress,.seats,.name,.card-visible {
  animation-name: piecespop;
  animation-duration: .4s;
  transform: scale(0,0) rotate(-5deg);
  animation-fill-mode: forwards;
}

@keyframes piecespop {
  0% {transform: scale(0,0);}
  80%  {transform: scale(1.1,1.1);}
  100%  {transform: scale(1,1);}
}

.votes .progress:nth-of-type(2){animation-delay: .1s}
.votes .progress:nth-of-type(4){animation-delay: .2s}
.votes .progress:nth-of-type(6){animation-delay: .3s}
.votes .progress:nth-of-type(8){animation-delay: .4s}
.votes .progress:nth-of-type(10){animation-delay: .5s}
.votes .progress:nth-of-type(12){animation-delay: .6s}
.votes .progress:nth-of-type(14){animation-delay: .7s}
.votes .progress:nth-of-type(16){animation-delay: .8s}
.votes .progress:nth-of-type(18){animation-delay: .9s}
.votes .progress:nth-of-type(20){animation-delay: 1s}
.votes .progress:nth-of-type(22){animation-delay: 1.1s}

.constituencyDeselector {
  position: absolute;
  top: 24px;
  right: 30px;
  border-radius: 100px;
  padding: 0;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  opacity:0.7;
  cursor: pointer;
  z-index:1000;
  height:34px;
  width:34px;
}

.constituencyDeselector:hover {
  opacity: 1;
}




/* Local candidates */
div.local-candidates-container{
  padding: 5px 15px;
}
.local-candidate-plate{
  display: block;
  width: 140px;
  float: left;
  margin: 5px;
  border: 1px solid #ddd!important;
  border-radius: 5px;
  overflow: hidden;
  min-height: 230px;
  text-align: center;
}

@media (max-width: 600px) {
  .local-candidate-plate {
    width: calc(50% - 10px);
  }
}
a.local-candidate-plate{
  padding: 0px!important;
  background-color: transparent!important;
}
a.local-candidate-plate:hover{
  background-color: #eee !important;
  border-color: #ff6e73!important;
}
.local-candidate-plate .lc-image{
  background-color: lightgrey;
  height: 130px;
  background-position: center;
  background-size: cover;
}
.local-candidate-plate .lc-name{
  margin: 1em 0 0.5em;
  min-height: 1.9em;
  line-height: 1.4em;
  padding: 0 5px;
}
.local-candidate-plate .lc-party-name{
  margin:0 0 10px 0;
  padding: 0 5px;
  line-height: 1.4em;
  font-size: 14px;
}

.selectAnotherConstituency {
  border: none;
  background-color: lightgray;
  border-radius:4px;
  padding: 5px 20px;
  color: black;
  margin-top:10px;
}

.selectAnotherConstituency:hover {
  background-color: gray;
  color: white;
}

.local-candidate-plate h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: 600;
}
.local-candidate-plate h4 {
  font-size: 14px;
  margin: 10px 0 5px;
}

.card.list li {
  cursor: pointer;
}

.fade-mask {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  top: 0;
  height: 100%;
  right: 0;
  left: 80%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.fade-mask i {
  position: absolute;
  top: 50%;
  /*bottom: calc(50% - 10px);*/
  font-size: 3em;
  color: rgba(0,0,0,0.3);
  line-height: 1;
  right: 10px;
}
@media (min-width: 680px) {
  .fade-mask {
    display: none;
  }
}
