span.algolia-autocomplete {
  display: block;
  width: 100%;
}

input#search-input {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
  width: calc(100% - 40px);
  background-image: url('/img/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  font-family: 'Lato';
}

.aa-dropdown-menu {
  margin-top: -20px;
  margin-left: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10000;
  border: 1px solid #ddd;
  min-width: 300px;
/*   position: absolute; */
}

.aa-dropdown-menu > div > span > div {
  padding:7px 40px;
  cursor: pointer;
}
.aa-dropdown-menu > div > span > div:hover {
  background: #eee;
}

div.map {
  margin: 0 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 10px;
}

#ukMap {
  height: 500px;
  width: calc(100%-40px);
  /* min-width: 600px; */
}

.info {
    padding: 6px 8px;
    font: 14px/16px "Lato", Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 180px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

@media (min-width: 600px) {
  div.map {
    float: left;
    width: calc(100% - 300px);
  }
  #ukMap {
    height: 760px;
  }
}
@media (min-width: 900px) {
  div.map {
    width: calc(100% - 400px);
  }
}

.progress {
  height: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.progress-bar {
  background-color: lightgray;
}


.card {
  margin: 20px;
  padding: 0px;
  text-align: left;
}
.slick-container .card {
  width: 380px;
}
.card.postcode, .card.share, .card.vote-worth, .card.postcode-compare {
  text-align: center;
}

.card .card-visible {
  padding: 5px 0;
}
.card .card-visible h2 {
  font-family: "Oswald"
}
.card .card-visible .close {
  display: none !important; /*Temporary */
}
.card section {
  padding: 0;
  max-width: none;
}
.card section {
  padding-bottom: 1em;
}
.card section.card-media {
  background-position: center;
  background-size: cover;
}
.card section.card-media {
  min-height: 250px;
}

.card .content, .card .content > div, .card .content section, .card .content h2, .card .content .body-content  {
  overflow: hidden;
}
.card .content {
  margin: 0;
}
.card .content .body-content {
  margin-bottom: 10px;
}
.card .content h2 {
  margin: 1em 0;
  font-weight: 700;
}
.card .content .card-image {
  overflow: hidden;
  margin: 0;
}
.card .content .card-image img {
  transform: inherit;
}

.card.votes .content div.seats {
  float: right;
  font-weight: bold;
}

.card table {
  width: 100%;
}
.card table tr td {
  padding: 5px 10px;
}
.card.stats table {
  margin-left: -10px;
  margin-right: -10px;
}
.card.stats table tr td:nth-child(2) {
  font-weight: bold;
}

.card.list li {
  list-style: none;
  padding: 5px 0
}
.card.list li:before {
  font-family: 'FontAwesome';
  content: '\f0a1';
  margin:0 10px 0 -40px;
  color: rgba(255, 102, 120, 0.7);
}

.card.table .content .body-content {
  overflow-x: scroll;
}

.card.table {
  clear: left;
  width: calc(100% - 40px);
}

.card.table table {
  min-width: 800px;
}
.card.table table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.card.table table tr:nth-child(1) {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
ound-color: transparent;
}
