<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <input type="text" id="search-input" />
  <script>
    // var client = algoliasearch("I2VKMNNAXI", "2b8406f84cd4cc507da173032c46ee7b")
    // var index = client.initIndex('constituencies');
    // autocomplete('#search-input', {hint: false}, [
    //   {
    //     source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
    //     displayKey: 'name',
    //     templates: {
    //       suggestion: function(suggestion) {
    //         console.log(suggestion._highlightResult)
    //         return suggestion._highlightResult.name.value;
    //       }
    //     }
    //   }
    // ]).on('autocomplete:selected', function(event, suggestion, dataset) {
    //   console.log(suggestion, dataset);
    // });
  </script>

  <script>
    var CardTemplates = {};
    var Model;
  </script>
  <% include ../partials/footer.ejs %>
</body>
</html>
