<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- <% include ../partials/nav.ejs %> -->

  <script>
    var CardTemplates = {};
  </script>
  <% include ../partials/footer.ejs %>
</body>
</html>
